/*=== INDEX ===*/
body {
    background-image: url(../img/logo-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.92);
}

/*-- MAIN --*/
.hero {
    background-color: var(--color-fondo);
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
}

.hero h1 {
    font-size: 36px;
    color: var(--color-secundario);
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: var(--color-texto);
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

/*-- BUTTONS --*/
.btn-hero {
    border-bottom: solid 2px var(--color-secundario);
    background-color: transparent;
    color: var(--color-secundario);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-hero:hover {
    background-color: var(--color-secundario);
    color: var(--color-texto-2);
}

.hero a {
    text-decoration: none;
}

/*-- CARDS --*/
.catalogo {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    width: 1150px;
}

.productos .producto {
    justify-content: center;
    gap: 20px;
}

.producto img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.producto h3 {
    font-size: 20px;
    color: var(--color-texto-1);
}


/*-- PRODUCTOS --*/
.catalogo-p {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productos-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    width: 1150px;
}

.img-p {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

/*-- NOSOTROS --*/
.nosotros {
    background-color: var(--color-fondo);
    padding: 60px 20px;
    text-align: center;

}

.nosotros h2 {
    font-size: 32px;
    color: var(--color-secundario);
    margin-bottom: 20px;
}

.nosotros p {
    font-size: 18px;
    color: var(--color-texto-1);
    max-width: 800px;
    margin: auto;
}

.nosotros img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
    mix-blend-mode: multiply;
    filter: contrast(1.2)
}

/*-- CONTACTANOS --*/
.nosotros {
    display: flex;
    background-color: var(--color-fondo);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px;
    height: 80vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.name,
.email,
.message {
    max-width: 500px;
    width: 90%;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border: solid 2px var(--color-secundario);
    color: inherit;
    font-size: 24px;
    border-radius: 0;
    margin: 2px;
}

.message {
    height: 100px;
}

.btn {
    border: none;
    border-bottom: 2px solid var(--color-secundario);
    background-color: inherit;
    color: var(--color-secundario);
    transition-duration: 0.3s;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--color-secundario);
    color: var(--color-texto-2)
}