/*-- RESPONSIVE --*/

/*-- CELULARES --*/

@media (max-width: 480px) {

    /*-- index --*/
    body {
        background-size: 50%;
    }

    .encabezado-2 a {
        font-size: 13px;
    }

    .productos {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        max-width: 360px;
        margin-left: 0;
        justify-content: start;
    }

    .productos img {
        width: 300px;
        height: 250px;
    }



    /*-- productos --*/
    .productos-p {
        display: flex;
        max-width: 360px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 20px 10px;
    }

    .productos-p .img-p {
        width: 160px;
        height: 137px;
    }
    .productos-p h3{
        font-size: 13px;
    }

    /*-- NOSOTROS --*/
    .nosotros img {
        width: 300px;
        height: auto;
    }

    .nosotros p {
        text-align: justify;
    }
}