/*-- RESPONSIVE --*/

/*-- CELULARES --*/

@media (max-width: 480px) {
    .encabezado1-p {
        font-size: 14px;
    }
    .productos {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        max-width: 400px;
        justify-content: flex-start;
    }
}